/* Garrett Matthews */

td {border-width: medium;border-color: black; border-style: solid; padding: 30px; border-collapse: collapse; width: 25%;}
table{border-width: medium; border-style: solid; border-collapse: collapse;}
.darkGreen{background-color: darkgreen;}
.lightGreen{background-color: lightgreen;}